a{
    text-decoration: none;
}
.hide{
    display: none;
}
.show{
    display: true;
}
.welcome {
    position: relative;
    margin-left: 30px;
    margin-top: 50px;
}
.upload-picture,
.new-album,
.signup,
.login-page{
    margin-top: 10px;
    margin-left: 20px;
}
.loginError{
    padding-left: 70px;
    color: red;
}
.new-album-title,
.signup-title,
.login-title{
    padding-left: 200px;
    padding-bottom: 10px;
}
.h-margin{
    margin-left: 205px;
}
.v-margin{
    margin-top:20px;
}
.label-padding{
    padding-left: 70px;
}
.highlight{
    font-weight: 700;
}
.center{
    text-align: center;
}
.btn-submit,
.btn-clear{
    width:120px;
}
.field-length {
    width:240px;
}
.label-length{
    width:200px;
}
.link-NewAlbum{
    margin-right: 100px;
    margin-bottom: 10px;
    float: right;
}
.album-save{
    margin-left: 1030px;
}
.my-album{
    width:1280px;
    height:auto;
    margin: auto;
}
.album-table{
    height:300px;
    width:100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.album-table .table{
    border-top: 1px solid #dddddd;
}
.album-table .table tr{
    line-height: 25px;
    height: 25px;
}